body {
    background-size: cover;
    font-weight: 500;
    background-image: url(physics_back.jpg);
    background-image: cover no-repeat;
  }
  
  p {
    margin: 5px;
    text-indent: 15px;
    line-height: 140%;
    text-align: justify;
    
  }
  
  #tartalom {
    background-color: rgba(200, 200, 200, 0.85);
    border-radius: 30px;
    width: 60%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-style: italic;
  }
  h1 a:hover{
    color:red;
    text-decoration: none;
  }
  
  table {
    width: 50%;
    margin: auto;
  }
  
  ul {
    list-style-image: url('physics_icon.png');
  }
  .vastag {
    font-size: 800;
  }
  .vastag:hover{
    color:red
  }
  th{
    background-color: gray;
    color: white;
    text-align: center;
  }
  td{
    border-bottom: 1px gray;
    padding: 10px;
    text-align: center;
  }
  .teller_kep{
    float: right;
    width: 260px;
    margin-left: 20px;
  }